*.joblib
venv/
.vscode/
praktikum.code-workspace
.DS_Store
Sprint 2/datasests/
Sprint 3/datasests/
Sprint 4/datasests/
Sprint 5/datasests/
Sprint 6/datasests/
Sprint 7/datasests/
Sprint 8/datasests/
Sprint 9/datasests/
Sprint 10/datasests/
Sprint 11/datasests/
Sprint 12/datasests/
Sprint 13/datasests/
Sprint 14/datasests/
Sprint 15/datasests/
Sprint 16/datasests/